<div class="view">


<h1 class="thankyou">Thank you <p>{{message}}<p/> for signing</h1>

<div class="sig">


<img src="{{sig}}" />
</div>

<button class="seeothers"><a href="/signers">See all {{numOfSigners}} the other heroes!</a></button>
<button class="edit"type="button" name="edit"> <a href="/edit">edit my profile</a> </button>
<form class="" action="/delete-signature" method="post">
            <button class="delete-signature">Delete my signature</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</div>

<form class="" action="/logout" method="get">
    <button class="signout" name="button">signout</button>

</form>
