<div class="view">


<ul>
       {{#supporter}}

       {{#if url}}
       <li><a href="http://{{url}}">{{first_name}} {{last_name}}</a> {{age}} <a href="/supporters/{{city}}">{{city}}</a></li>
       {{else}}
       <li>{{first_name}} {{last_name}} {{age}} <a href="/{{city}}">{{city}}</a></li>
       {{/if}}



       {{/supporter}}
   </ul>


   <form class="" action="/logout" method="get">
       <button name="button">signout</button>

   </form>
       <input type="hidden" name="_csrf" value="{{csrfToken}}">
</div>
